.footer {
  &__container {
    background-color: #1f2021;
    padding: 81px 80px 92px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 87px;
  }

  &__left {
    @extend .text-white;

    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  &__caption {
    @include font-prop(48px, 700, 60px);
  }

  &__description {
    @include font-prop(28px, 400, 25.54px);
  }

  &__temp-block {
    @include flex-center;

    width: 566px;
    height: 107px;
    background-color: white;
  }
}
